name: Tests Code Coverage

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod

      - name: Set up limgo
        uses: GoTestTools/limgo-action@d4a725a46ab3bdbbf23186bbbe54b4ff4a35d5a7 # v1.0.2
        with:
          version: "v1.0.0"
          install-only: true

      - name: Run tests
        run: |
          make test

      - name: Gather and calculate test coverage
        run: |
          limgo -coverfile=cover.out -outfmt=md -outfile=/tmp/covcheck.md -v=4 -config=.limgo.json
          cat /tmp/covcheck.md >> $GITHUB_STEP_SUMMARY

      - name: Upload test coverage results
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: ${{ always() }}
        with:
          name: test-coverage-results
          path: /tmp/covcheck.md
          if-no-files-found: error
